<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 <div class="jumbotron text-center " >
  <button class="btn  btn-success  btn-lg"  (click)="cambiar()" >Tirar Dados</button>
  <br>
  <div class="d-flex justify-content-center " >
    <img class="w-25 mx-2 mt-4 bg-danger rounded-5 "  [src]="dado1" alt="">
    <img class="w-25 mx-2 mt-4 bg-danger rounded-5 "  [src]="dado2" alt="">
  
  </div>
<h1 class="mt-3" ><span class="badge text-bg-success p-3 w-25 " *ngIf="this.numero1 == this.numero2"  >Ganaste</span></h1>


 </div>




<router-outlet></router-outlet>
</body>
</html>

